{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <div class="m-5">
    <h1 class="text-center">리뷰 서비스</h1>
    <button type="button" class="btn btn-success my-3" onclick="location.href='new' ">리뷰작성</button>
    <div class="text-center">
      <!-- <table class="table">
        <thead>
          <tr class="table-success">
            <th scope="col">리뷰 번호</th>
            <th scope="col">리뷰 제목</th>
            <th scope="col">작성 시간</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr>
            <th scope="row">{{ review.pk }}</th>
            <td>
              <a href="{% url 'review:detail' review.pk %}" class="text-decoration-none text-dark">{{review.title}}</a>
            </td>
            <td>{{ review.created_at|date:'Y-m-d P' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
      {% for review in reviews %}
      <div class="card text-bg-light border-success my-5 mx-auto" style="width: 50%;">
        <div class="card-header">#{{ review.pk}}</div>
        <div class="card-body">
          <div class="d-flex">
            <img src="{{ image }}" class="rounded-circle me-2 bg-light" style="width: 3rem; height: 3rem;">
            <div>
              <h5 class="card-title text-start"><a href="{% url 'review:detail' review.pk %}"
                  class="text-decoration-none text-dark fw-bold">{{review.title}}</a></h5>
              <p class="card-text text-start">{{review.content}}</p>
            </div>
          </div>
          <p class="card-text text-end">{{review.created_at|date:'m/d P'}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}